:root {
  /* GRAY COLORS */
  --color-gray-lightest: #EEEEEE;
  --color-gray-lighter: #A3A3A3;
  --color-gray-light: #737373;
  --color-gray-medium: #525252;
  --color-gray-dark: #404040;
  --color-gray-darker: #222222;
  --color-gray-darkest: #151515;

  /* PURPLE COLORS */
  --color-purple-lighter: #C4B5FD;
  --color-purple-light: #A78BFA;
  --color-purple-medium:#8B5CF6;
  --color-purple-dark: #7C3AED;

  /* FONT SIZE */
  --biggest-font-size: 6rem;
  --bigger-font-size: 4rem;
  --big-font-size: 3rem;
  --medium-font-size: 2.4rem;
  --small-font-size: 2rem;
  --smaller-font-size: 1.6rem;

  /* SPACING */
  --bigger-spacing: 10rem;
  --big-spacing: 6rem;
  --medium-spacing: 3rem;
  --small-spacing: 1.5rem;
  --smaller-spacing: 0.5rem;

  /* BORDER RADIUS */
  --big-border-radius: 10rem;
  --medium-border-radius: 2rem;
  --small-border-radius: 1.5rem;
  --circular-border-radius: 50%;

  /* BORDER */
  --big-purple-light-border: 0.5rem solid var(--color-purple-light);
  --small-gray-medium-border: 0.05rem solid var(--color-gray-medium);

  /* OTHERS */
  --box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: var(--smaller-font-size);
  color: var(--color-gray-lightest);
  background-color: var(--color-gray-darkest);
  background-image: url('../img/textures/noise.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--bigger-spacing);
  padding: var(--bigger-spacing);
  min-height: 100vh;
}

::selection {
  background-color: var(--color-purple-dark);
  color: var(--color-gray-lightest);
}

h1 {
  font-size: var(--biggest-font-size);
  font-weight: 800;
}

h2 {
  font-size: var(--bigger-font-size);
  font-weight: 700;
}

h3 {
  font-size: var(--big-font-size);
  font-weight: 700;
}

h4 {
  font-size: var(--medium-font-size);
  font-weight: 700;
}

p {
  font-size: var(--medium-font-size);
  font-weight: 500;
  color: var(--color-gray-lighter);
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  max-width: 120rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--big-spacing);
}

.subsection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
}

.introduction {
  flex-direction: row;
  gap: var(--medium-spacing);
  height: calc(100vh - var(--bigger-spacing) - calc(var(--bigger-spacing) / 2));
  min-height: 60rem;
}

.vertical-line {
  min-width: 0.2rem;
  max-width: 0.2rem;
  background-color: var(--color-purple-light);
  border-radius: var(--big-border-radius);
}

.horizontal-line {
  min-height: 0.2rem;
  max-height: 0.2rem;
  background-color: var(--color-purple-light);
  border-radius: var(--big-border-radius);
  width: 100%;
}

.introduction-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introduction-icons {
  display: flex;
  gap: var(--small-spacing);
}

.introduction-icon {
  width: 5rem;
  height: 5rem;
}

.introduction-icon:hover {
  filter: brightness(0) saturate(100%) invert(60%) sepia(60%) saturate(1952%) hue-rotate(213deg) brightness(100%) contrast(97%);
}

.introduction-header {
  display: flex;
  flex-direction: column;
  gap: var(--small-spacing);
}

.section-header {
  display: flex;
  gap: var(--medium-spacing);
  align-items: center;
}

.section-header > h2 {
  min-width: max-content;
}

.who-am-i-content {
  display: flex;
  flex-direction: column;
  gap: var(--big-spacing);
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
}

.who-am-i-images {
  display: flex;
  justify-content: space-between;
  gap: var(--medium-spacing);
}

.who-am-i-image-container {
  flex: 1;
  border: var(--big-purple-light-border);
  border-radius: var(--circular-border-radius);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  object-fit: cover;
  object-position: center;
}

.who-am-i-image-container > img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.technologies-content {
  display: flex;
  justify-content: center;
  gap: var(--medium-spacing);
  flex-wrap: wrap;
}

.technology-container {
  background-color: var(--color-gray-darker);
  border-radius: var(--medium-border-radius);
  border: var(--small-gray-medium-border);
  width: 20rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-inline: auto;
  box-shadow: var(--box-shadow);
}

.technology-container > img {
  width: 10rem;
  margin-block: auto;
}

.technology-name {
  width: calc(100% + 0.1rem);
  margin-bottom: -0.05rem;
  border-radius: var(--medium-border-radius);
  height: 7rem;
  border: var(--small-gray-medium-border);
  background-color: var(--color-gray-dark);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--medium-spacing);
}

.projects-content > p {
  margin-top: var(--medium-spacing);
  text-align: center;
}

.project-container {
  background-color: var(--color-gray-darker);
  padding: var(--medium-spacing);
  box-shadow: var(--box-shadow);
  border: var(--small-gray-medium-border);
  border-radius: var(--medium-border-radius);
  display: flex;
  gap: var(--medium-spacing);
}

.project-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--medium-spacing);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
}

.project-link {
  background-color: var(--color-purple-dark);
  display: flex;
  align-items: center;
  width: fit-content;
  box-shadow: var(--box-shadow);
  border-radius: var(--big-border-radius);
  text-align: center;
}

.project-link:hover {
  background-color: var(--color-purple-medium);
}

.project-link:hover .code-icon {
  background-color: var(--color-purple-light);
}

.project-link > span {
  margin-inline: 2rem;
}

.code-icon {
  box-shadow: var(--box-shadow);
  background-color: var(--color-purple-medium);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--circular-border-radius);
}

.code-icon > img {
  width: 2.5rem;
  height: 2.5rem;
}

.project-image {
  border-radius: var(--small-border-radius);
  flex: 1;
}

.project-image > img {
  border-radius: var(--small-border-radius);
  width: 100%;
  height: 100%;
  min-height: 30rem;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--box-shadow);
}

.github-link {
  text-decoration: underline;
}

.github-link:hover {
  color: var(--color-purple-light);
}

.subsection-header {
  color: var(--color-gray-lighter);
  display: flex;
  gap: var(--medium-spacing);
  align-items: center;
}

.subsection-header > h3 {
  min-width: max-content;
}

.subsection-header > .horizontal-line {
  background-color: var(--color-gray-lighter);
}

.studies-content {
  display: flex;
  flex-direction: column;
  gap: var(--big-spacing);
}

.study {
  display: flex;
  gap: var(--medium-spacing);
}

.study-content p,
.contact-info p,
.projects-content p {
  font-size: var(--small-font-size);
}

.study-content > .study-name {
  font-weight: 500;
}

.study-content > .study-location {
  color: var(--color-purple-light);
  margin-bottom: var(--small-spacing);
}

.study-content > .study-duration {
  font-weight: 300;
  color: var(--color-gray-light);
}

.studies-list {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
}

.contacts-content {
  display: flex;
  flex-direction: column;
  gap: var(--medium-spacing);
}

.contact {
  display: flex;
  gap: var(--small-spacing);
  width: fit-content;
}

.contact-info p {
  color: var(--color-purple-light);
  word-break: break-all;
}

.contact:hover p {
  color: var(--color-purple-lighter);
}

.contact:hover .contact-icon {
  filter: brightness(0) saturate(100%) invert(83%) sepia(42%) saturate(2506%) hue-rotate(194deg) brightness(101%) contrast(98%);
}

.contact-icon {
  width: 5.5rem;
  height: 5.5rem;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--medium-spacing);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: var(--smaller-spacing);
  flex: 1;
  min-width: max-content;
}

.footer span {
  color: var(--color-gray-light);
  width: fit-content;
}

.footer a {
  font-weight: 600;
  width: fit-content;
}

.footer a:hover {
  color: var(--color-purple-light);
}

.fw-600 {
  font-weight: 600;
}

.clr-purple-light {
  color: var(--color-purple-light);
}

.clr-gray-lighter {
  color: var(--color-gray-lighter);
}

.bg-clr-gray-light {
  background-color: var(--color-gray-light);
}

@media screen and (max-width: 1200px) {
  .project-container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --bigger-spacing: calc(10rem * 0.75);
    --big-spacing: calc(6rem * 0.75);
    --medium-spacing: calc(3rem * 0.75);
    --small-spacing: calc(1.5rem * 0.75);
    --smaller-spacing: calc(0.5rem * 0.75);

    --biggest-font-size: 5rem;
    --bigger-font-size: 3.4rem;
    --big-font-size: 2.5rem;
    --medium-font-size: 2rem;
    --small-font-size: 1.7rem;
    --smaller-font-size: 1.4rem;
  }
  .projects-content > p {
    margin-top: 1.5rem;
  }
  .who-am-i-images {
    flex-direction: column;
  }
  .contact-icon {
    width: 4.6rem;
    height: 4.6rem;
  }
  .introduction-icon {
    width: 4rem;
    height: 4rem;
  }
  .code-icon > img {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 572px) {
  .technology-container {
    width: 100%;
    height: 20rem;
  }
  .technology-name {
    height: 5rem;
  }
  .technology-container > img {
    width: 7.5rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --bigger-spacing: calc(10rem * 0.5);
    --big-spacing: calc(6rem * 0.5);
    --medium-spacing: calc(3rem * 0.5);
    --small-spacing: calc(1.5rem * 0.5);
    --smaller-spacing: calc(0.5rem * 0.5);

    --biggest-font-size: 4rem;
    --bigger-font-size: 2.8rem;
    --big-font-size: 2rem;
    --medium-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.2rem;
  }
  .projects-content > p {
    margin-top: 0;
  }
  .contact-icon {
    width: 3.8rem;
    height: 3.8rem;
  }
  .introduction-icon {
    width: 3rem;
    height: 3rem;
  }
  .code-icon > img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 380px) {
  body {
    padding: 2.5rem;
  }
}
